.tag-open {
  background-image:url(/2023/images/backgrounds/open.jpg) !important;
}
.tag-pause {
  background-image:url(/2023/images/backgrounds/pause.jpg) !important;
}
.tag-lunch {
  background-image:url(/2023/images/backgrounds/lunch.jpg) !important;
}
.tag-party {
  background-image:url(/2023/images/backgrounds/party.jpg) !important;
}
